.chat { position: absolute; top: 38px; bottom: 0; left: 0; right: 0; overflow: hidden; }
.chat #chat { position: absolute; top: 0; left: 0; right: 0; bottom: 150px; overflow: auto; border-bottom: 1px solid #eaebec; font-size: 13px; }
.chat #chat > div { cursor: pointer; padding: 5px 0; }
.chat #chat > div:hover { background: #f0f2f3; }
.chat #chat > div > .chatL { float: left; width: 80px; }
.chat #chat > div > .chatC { margin: 0 80px; }
.chat #chat > div > .chatC .name { font-weight: bold; }
.chat #chat > div > .chatC .name > span { color: #bbb; }
.chat #chat > div > .chatC .name > a { color: #5b8db9; text-decoration: none; }
.chat #chat > div > .chatR { float: right; width: 100px; }
.chat #chat > div > .chatR .date { text-align: right; font-size: 11px; color: #bbb; padding-right: 10px; }
.chat #chat > div:after { content: " "; clear: both; }
.chat > .form { position: absolute; left: 0; right: 0; bottom: 0; height: 150px; padding: 10px 10px 20px; }
.chat > .form .edit { border: 1px solid #eaebec; height: 80px; overflow: auto; font-size: 13px; padding: 5px 7px; }
.chat > .form .buts { padding: 10px 0; text-align: right; }
